.env
.env.bak
.venv/
venv/
__pycache__/
.pytest_cache/
*.pyc
.git/
.github/
data/
tests/
*.md
*.jpg
*.png
!static/icon-192.png
!static/icon-512.png
!static/favicon.png
.bandit
.coverage
*.lock
docs/
LICENSE
.idea/
.vscode/
*.swp